<section id="land" class="land">

    <img src="/assets/2023-08-27 16:36:31.270.JPG" alt="" data-aos="fade-in">

    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <h2 data-aos="fade-up" data-aos-delay="100">Welcome to EZSCAVENGE</h2>
          <p data-aos="fade-up" data-aos-delay="200" style="right: -20px;
          position: relative;">We look for parts so you don't fall apart</p>
        </div>
        <div class="col-lg-5">
          <form action="#" class="sign-up-form d-flex" data-aos="fade-up" data-aos-delay="300">
            <input type="text" class="form-control" placeholder="Enter email address">
            <input type="submit" class="btn btn-primary" value="Sign up" style="color:red">
          </form>
        </div>
      </div>
    </div>

  </section>


  <section id="partTwo" class="partTwo">

    <div class="container-fluid" data-aos="fade-up">

      
<div class="container" style="position:relative; top:15px;">
        <p class="mb-4 pb-2 mb-md-5 pb-md-0">"We pride ourselves on being a one-stop solution for all your car part needs. Our cutting-edge AI-powered search engine ensures lightning-fast, accurate results, guiding you to the perfect match for your vehicle. We vet and verify sellers and mechanics, ensuring a network of trustworthy professionals who deliver quality and expertise."</p>
    </div>
      </div>

    

  </section>

  <section id="about" class="about">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row align-items-xl-center gy-5">

        <div class="col-xl-5 content">
            <button type="button" class="btn btn-md btn-secondary" disabled style="margin:10px;">About Us</button>
          <h2>From Talks to Tracks</h2>
          <p>At EZSCAVENGE, we are driven by a passion for revolutionizing the automotive industry. Our journey began with a shared frustration - the challenge of finding specific car parts quickly and reliably. We understand the struggle of countless enthusiasts, repair shops, and individual car owners scouring the internet for precise components, often ending up frustrated or settling for less than ideal solutions.

            Our mission is clear: to streamline this process, providing a seamless experience for anyone seeking authentic car parts and reliable automotive services.</p>
          <a href="#" class="learn"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
        </div>

        <div class="col-xl-7">
          <div class="row gy-4 icon-boxes">

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box">
               
                <div class="d-flex justify-content-center mb-4">
                    <img src="/assets/48b5eb2f5e78f09bc7e551d78211e5f2.jpg"
                      class="rounded-circle shadow-1-strong" width="150" height="150" />
                  </div>
                <h3>Trustworthy, Authentic Parts!</h3>
                <p>"I've always been wary of fake parts flooding the market. This service's dedication to authenticating and verifying parts and users is a huge plus for me. Finally, a platform that cares about ensuring genuine parts and preventing scammers. It's a relief to find such a reliable source for car components.”</p>
              </div>
            </div> 

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box">
                <div class="d-flex justify-content-center mb-4">
                    <img src="/assets/Unknown.jpeg"
                      class="rounded-circle shadow-1-strong" width="150" height="150" />
                  </div>
                <h3>A Vintage Car Hunter's Dream!</h3>
                <p>“This platform saves me time hunting down classic car parts. It's convenient and worth paying for - a real game-changer”
                </p>
              </div>
            </div> 

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="icon-box">
                <div class="d-flex justify-content-center mb-4">
                    <img src="/assets/graphic-cartoon-character-send-messages-online-vector-35415501.jpg"
                      class="rounded-circle shadow-1-strong" width="200" height="200" />
                  </div>
                <h3>A Perfect Hub for Car Enthusiasts!</h3>
                <p>“Sleek interface, seamless experience - a must-have for every car lover seeking quality parts."
                </p>
              </div>
            </div> 

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
              <div class="icon-box">
                <div class="d-flex justify-content-center mb-4">
                    <img src="/assets/pexels-photo-269724.jpeg"
                      class="rounded-circle shadow-1-strong" width="150" height="150" />
                  </div>
                <h3>Global Car Part Access</h3>
                <p>“For those of us looking for specific parts, especially those located overseas, this platform is a blessing. No more limitations due to location! It's fantastic that they've included parts from around the world. This app truly opens up a global marketplace for car enthusiasts like us.”
                </p>
              </div>
            </div> 

          </div>
        </div>

      </div>
    </div>

  </section>