<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary" style="z-index: 9999;
position: fixed;
width: 100%;
top: 0;
left: 0;
padding: 1em;">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href=" ">
        <img
          src="/assets/Log2.png"
          height="40"
          alt="ESC LOGO"
          loading="lazy"
          style="margin-top: -1px;"
        />
      </a>
  
      <!-- Toggle button -->
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="home">Home</a>
          </li>
          <li  *ngIf="!loggedIn" class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li *ngIf="!loggedIn" class="nav-item">
            <a class="nav-link" href="#about">Customer Support</a>
          </li>
          <li *ngIf="loggedIn" class="nav-item">
            <a class="nav-link" href="#about">Inbox</a>
          </li>
         
        </ul>
        <!-- Left links -->
  
        <div class="d-flex align-items-center">
          <button data-mdb-ripple-init type="button" class="btn btn-link px-3 me-2" routerLink="login" id="loginBtn">
            Login
          </button>
          <button data-mdb-ripple-init type="button" class="btn btn-primary me-3" routerLink="signup">
            Sign up for free
          </button>
         
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->

  